table.fixed-header {
  position: fixed !important;
}

table.fixed-header.no-footer {
  border-bottom-width: 0;
}

table.fixedHeader-locked {
  position: absolute !important;
}

@media print {
  table.fixed-header {
    display: none;
  }
}
