/* Laptop ~ Desktop screen sizes */

@media all and (min-width: 993px) and (max-width: 1199px) {
	.gmain-chart1 #monthlyChart {
		height: 285px;
	}

	.gmain-chart2 #dailyChart {
		height: 323px;
	}
}

/* col-md size */

@media all and (min-width: 769px) and (max-width: 992px) {
	.gmain-chart1,
	.gmain-chart4 {
		height: 533px;
	}

	.indiv.gmain-chart1 #monthlyChart {
		height: 450px;
	}

	.gmain-chart2,
	.jmain-center2 {
		height: 400px;
	}

	.gmain-chart2 #dailyChart {
		height: 315px;
	}

	.gmain-chart3,
	.jmain-center3 {
		min-height: auto;
		height: 450px;
	}

	.gmain-chart3 .inchart {
		height: 355px;
	}

	.gmain-chart3 #gchart3 {
		height: 355px;
	}

	.jmain-center3 .realtime-wrap .inchart {
		height: 365px;
	}

	.jmain-center3 .realtime-wrap .inchart #rchart3 {
		height: 365px;
	}
}

@media all and (max-width: 1492px) {
	.gmain-table .gmain-wrap {
		max-height: 625px;
	}
}

@media all and (max-width: 1280px) {
	.indiv.chart-diagnosis .chart-top .inline-flex .duration {
		display: none;
	}

	.entity-wrapper.post .indiv .spc-table-row.st-edit .text-input-type.edit,
	.entity-wrapper.post .indiv .spc-table-row.st-edit .sel-calendar.edit,
	.entity-wrapper.post .indiv .spc-table-row.st-edit .fixed_heightw300 {
		max-width: 300px;
		width: 100%;
	}

	.entity-wrapper.post .indiv .spc-table-row th,
	.entity-wrapper.post .indiv .spc-table-row td {
		white-space: normal;
	}

	.entity-wrapper.post .indiv .spc-table-row .sel-calendar.edit.twin .sel {
		width: 100%;
		float: none;
	}

	.inv-search-box {
		max-height: 160px;
		overflow-y: auto;
	}
}

@media all and (max-width: 1199px) {
	.all-menu .menu-wrapper > ul > li.lo-type {
		display: inline-block;
		width: auto;
	}

	.group-type.short .dropdown.edit,
	.group-type.short .dropdown.edit:nth-child(2) {
		width: 100%;
	}

	.entity-wrapper.post .indiv .spc-table-row.st-edit .group-type > div + div {
		margin-left: 0;
		float: left;
		clear: both;
		content: "";
	}

	.entity-wrapper.post .indiv .spc-table-row td.flex-start .sel-calendar.twin {
		padding-top: 49px;
		width: 70%;
	}

	.entity-wrapper.post .indiv .spc-table-row td.flex-start .chk-type.ml-38 {
		margin: 10px 0 10px 15px;
		padding-top: 45px;
		white-space: normal;
	}

	.group-type > div,
	.group-type > div.text-input-type,
	.dropup.edit,
	.dropdown.edit {
		width: 100%;
	}

	.indiv.chart-wrapper,
	.indiv.chart-wrapper2 {
		padding: 20px 30px;
		height: auto;
	}

	.indiv.chart-wrapper:not(:last-of-type),
	.indiv.chart-wrapper2:not(:last-of-type) {
		margin-bottom: 18px;
	}

	.chart-wrapper .chart-top.offset {
		margin: -10px 0 -16px;
	}

	.chart-wrapper .chart-top.offset .ntit {
		margin: 0 auto;
	}

	.chart-wrapper .mobile-hidden,
	.chart-wrapper .term {
		display: none;
	}

	.mobile-visible {
		display: flex !important;
	}

	.indiv.gmain-chart4,
	.indiv.gmain-alarm {
		height: 520px;
	}

	.indiv.jmain-alarm {
		height: 520px;
	}

	.local-info {
		margin-top: 15px;
	}

	.indiv.chart-diagnosis .chart-top.clear .btn-type {
		margin-top: 16px;
	}
}

@media (min-width: 1092px) {
	.modal-dialog:not(.modal-xl):not(.calendar-modal) {
		width: 1092px;
	}

	.spc_tbl02_row {
		overflow-x: visible;
	}

	.modal-dialog.history-alarm {
		width: 560px;
	}
}

/* Tablet && Mobile screen sizes */

@media all and (max-width: 992px) {
	.entity-wrapper.post .indiv .spc-table-row td.flex-start {
		display: table-cell;
	}

	.entity-wrapper.post .indiv .spc-table-row td.flex-start .sel-calendar.twin {
		padding-top: 0;
		width: 100%;
	}

	.entity-wrapper.post .indiv .spc-table-row td.flex-start .chk-type.ml-38 {
		padding-top: 0;
		margin: 10px 0 10px 0px;
	}

	.all-menu .menu-wrapper > ul > li:nth-child(3),
	.all-menu .menu-wrapper > ul > li:nth-child(4) {
		display: inline-block;
		width: auto;
	}

	.all-menu .menu-wrapper > ul > li:nth-child(5) {
		padding-top: 30px;
	}

	.alarm-notice li:not(:last-child) {
		margin-bottom: 10px;
	}

	.chart-info,
	.chart-info .chart-info-left,
	.chart-info-right {
		display: block;
		width: 100%;
		padding: 0;
	}

	.chart-info .chart-info-right ul li em {
		font-size: 12px;
	}

	/********************************************************************************
										gmain
	*********************************************************************************/

	.chart-wrapper .sum-list {
		padding-top: 2px;
	}

	.gmain-table .gmain-wrap {
		max-height: 360px;
	}

	.gmain-map2 {
		margin-bottom: 20px;
	}

	.gmain-map2,
	.gmain-map2 .map-wrap {
		height: 380px;
		width: 100%;
	}

	.gmain-map2-content {
		width: 100%;
	}

	.indiv.jmain-alarm {
		height: 533px;
	}

	.gmain-chart4 {
		overflow: hidden;
	}

	.chart-info:not(.block) .local-info {
		overflow: auto;
		height: 100px;
	}

	.gmain-wrap .intable,
	.device-table {
		max-height: 365px;
	}

	.gmain-table {
		display: block;
		height: 874px;
	}

	.gmain-table.jmain-table .gmain-wrap .intable {
		max-height: 760px;
	}

	.flex-start,
	.flex-start2,
	.flex-start3 {
		flex-wrap: wrap;
	}

	/********************************************************************************
								device / collection modal
	*********************************************************************************/

	.modal-content.user-modal-content {
		width: auto;
	}

	.user-modal-content .input-label.offset {
		padding-left: 0;
	}

	.device-modal .modal-content.new_device .textarea {
		width: 250px;
	}

	.dropdown-modal.modal-dialog .modal-content {
		padding: 20px;
	}

	.dropdown-modal {
		display: none;
		width: 300px;
	}

	.spc-search-bar .sa-select + .sa-select {
		margin: 0 0 10px;
	}

	.spc-search-bar .tx-tit {
		min-width: 80px;
	}

	.modal .modal-md-lg {
		width: 70%;
	}
}

/* Mobile (horizontal) screen sizes */

@media all and (max-width: 768px) {
	/********************************************************************************
							common ( page-wrapper, nav, sidebar )
	*********************************************************************************/
	.page-wrapper {
		margin: 0;
		/* padding: 0 16px; */
		padding: 64px 16px 0;
		/* for sticky nav padding: 64px 16px 0; */
	}

	.sidenav-no-scroll {
		overflow: hidden !important;
	}

	.row.header-wrapper {
		height: auto;
	}
}

	.chart-wrapper .sum-list {
		width: 80%;
	}

	.g-menu .menu-list {
		margin: 12px 0 0 0;
	}

	.g-menu > .menu-list > li.menu-item > a:hover {
		background-color: var(--white15);
	}

	.g-menu .menu-list > li.gmn9 {
		margin-top: 60px;
	}

	.g-menu .menu-list > li > a {
		display: block;
		padding-left: 26px;
		height: 50px;
		line-height: 50px;
		color: var(--white60);
		font-size: 15px;
		font-weight: 600;
	}

	.g-menu .menu-list > li > a:before {
		content: '';
		display: block;
		margin-right: 20px;
		width: 24px;
		height: 45px;
		filter: invert(0.4);
		float: left;
	}

	.g-menu .menu-list > li.menu-item > a:after {
		display: block;
		float: right;
		margin: 18px 27px 0 0;
		width: 9px;
		height: 9px;
		border: 2px solid var(--white87);
		border-left: 0;
		border-top: 0;
		content: "";
		transform: rotate(45deg);
	}

	.g-menu .menu-list > li.gmn1 > a:before {
		background: var(--sidebar-ico1) no-repeat center;
	}

	.g-menu .menu-list > li.gmn2 > a:before {
		background: var(--sidebar-ico2) no-repeat center;
	}

	.g-menu .menu-list > li.gmn3 > a:before {
		background: var(--sidebar-ico3) no-repeat center;
	}

	.g-menu .menu-list > li.gmn4 > a:before {
		background: var(--sidebar-ico4) no-repeat center;
	}

	.g-menu .menu-list > li.gmn5 > a:before {
		background: var(--sidebar-ico5) no-repeat center;
	}

	.g-menu .menu-list > li.gmn6 > a:before {
		background: var(--sidebar-ico6) no-repeat center;
	}

	.g-menu .menu-list > li.gmn7 > a:before {
		background: var(--sidebar-ico7) no-repeat center;
	}

	.g-menu .menu-list > li.gmn8 > a:before {
		background: var(--sidebar-ico8) no-repeat center;
	}

	.g-menu .menu-list > li.gmn9 > a:before {
		background: var(--sidebar-ico9) no-repeat center;
	}

	.g-menu .menu-list > li.gmn10 > a:before {
		background: var(--sidebar-ico10) no-repeat center;
	}

	/* menu active */

	.g-menu .menu-list > li.on > a {
		color: var(--white87);
	}

	.g-menu .menu-list > li.on > a:before {
		filter: invert(0);
	}

	.g-menu .menu-list > li.on > a:after {
		margin-top: 20px;
		transform: rotate(225deg);
	}

	.g-menu .menu-list > li.on > .sub-menu-list {
		display: block;
	}

	/* sub menu */
	.g-menu .sub-menu-list {
		display: none;
	}

	.g-menu .sub-menu-list li a {
		height: 56px;
		line-height: 56px;
		font-size: 14px;
		color: var(--white60);
		display: block;
		padding-left: 70px;
	}

	.g-menu .sub-menu-list li a ~ div a {
		font-size: 13px;
		padding-left: 30px;
	}

	.g-menu .sub-menu-list li a ~ div a:before {
		display: inline-block;
		content: "";
		margin-right: 2px;
	}

	.g-menu .sub-menu-list li > a:hover,
	.g-menu > ol > li > a:hover {
		background: var(--white15);
	}

	.g-menu .sub-menu-list li a:before {
		display: inline-block;
		content: "";
		margin-right: 2px;
	}

	.logo-wrapper {
		width: 100%;
		height: 60px;
	}

	.mobile-logo {
		width: 186px;
		height: 60px;
	}

	.mobile-logo .mobile {
		display: inline-block;
		margin: 4px 0 0 -4px;
		width: 100%;
		height: 100%;
		background: var(--iderms-logo) no-repeat center;
		font-size: 0;
		transform: scale(.7);
	}

	.mobile-logo .mobile.spower {
		background: var(--spower-logo) no-repeat 0 0;
		background-size: 160px 44px;
		margin: 8px 0 0 3px;
	}

	.mobile-nav-close {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.mobile-nav-close:before,
	.mobile-nav-close:after {
		position: absolute;
		right: 12px;
		content: ' ';
		height: 24px;
		width: 2px;
		background-color: var(--white87);
	}

	.mobile-nav-close:before {
		transform: rotate(45deg);
	}

	.mobile-nav-close:after {
		transform: rotate(-45deg);
	}

	nav {
		padding: 0;
	}

	.lang.mobile {
		display: none;
	}

	nav .nav-brand {
		display: none;
		margin-top: 0;
		padding-top: 20px;
		float: none;
		text-align: center;
	}

	nav .category {
		display: block;
		top: 22px;
		left: 20px;
	}

	nav .site {
		float: none;
		display: block;
		text-align: center;
		margin: 20px 0 0 0;
	}

	nav .nav-right {
		margin-right: 20px;
	}

	.all-menu {
		position: absolute;
		display: block;
		top: 0;
		left: 60px;
	}

	.all-menu .menu-group {
		width: 80vw;
		top: 50px;
		left: 0;
		z-index: 100;
	}

	.all-menu > a.on + .menu-group {
		width: 100%;
	}

	.all-menu .menu-group > ul + ul {
		margin-left: 0;
	}

	.all-menu:before {
		display: none;
	}

	.all-menu .menu-group > ul {
		width: 33.3%;
	}

	.all-menu > a {
		text-align: left;
		width: 72px;
	}

	.all-menu > a:after {
		margin: -17px 0 0 40px;
	}

	html[lang="en"] .all-menu > a:after {
		margin: -17px 0 0 55px;
	}

	.all-menu .menu-group {
		left: -20px;
		overflow: hidden;
	}

	.all-menu .menu-wrapper > ul > li {
		display: block;
		width: 100%;
		float: none;
		padding-top: 0px;
		border-left: 0;
	}

	.all-menu .menu-wrapper > ul {
		width: 29vw;
	}

	.all-menu .menu-group .overflow-list {
		max-height: 160px;
	}

	.all-menu .menu-wrapper > ul > li:nth-child(3),
	.all-menu .menu-wrapper > ul > li:nth-child(5) {
		margin-top: 30px;
	}

	.side-nav {
		display: none;
	}

	.header-wrapper {
		height: auto;
	}

	/********************************************************************************
							indiv(box-container), modal, alarm
	*********************************************************************************/
	.page-header {
		text-align: center;
	}

	.indiv {
		padding: 19px 20px;
	}

	.indiv.chart-wrapper,
	.gmain-table {
		height: auto;
	}

	.indiv.smain-alarm {
		height: 260px;
	}

	.modal-dialog.modal-warning .modal-content {
		margin: 0 auto;
	}

	.spc-modal-lg {
		width: 100%;
		padding: 2% 5%;
	}

	.spc-modal-content .input-label {
		white-space: normal;
	}

	.spc-modal-content .row:not(.end) .dropdown,
	.spc-modal-content .flex-start .sel-calendar,
	.spc-modal-content .flex-start .sel,
	.spc-modal-content .flex-start .textarea,
	.spc-modal-content .row:not(.end) .text-input-type:not(.mr-12) {
		width: 100%;
	}

	.spc-modal-content .row.end .dropdown:first-child {
		width: 40%;
	}

	.spc-modal-content .row.end .dropdown,
	.spc-modal-content .row.end .dropdown + .sel-calendar {
		width: calc(55% + 13px);
	}

	.modal-content.spc-detail-content {
		width: 300px;
	}

	.settings-modal-content .modal-body .col-sm-12 {
		padding-left: 12px;
	}

	.alarm {
		min-height: initial;
	}

	.alarm-notice {
		margin-right: 0;
	}

	.chart-top .meter {
		clear: both;
		margin-left: 0;
		font-size: 0;
		float: none;
	}

	.chart-top .meter > span {
		display: inline-block;
		height: 36px;
		line-height: 36px;
		font-size: 14px;
		color: #3d4250;
		font-weight: bold;
		margin-right: 15px;
	}

	.chart-top .meter > * {
		margin-top: 10px;
	}

	.loading-image {
		position: absolute;
		opacity: 0.3;
		background-color: var(--white);
		top: calc(50% - 96px);
		left: calc(50% - 96px);
		z-index: 240;
	}

	.dropdown-menu {
		z-index: 1000;
	}

	.modal .dropdown-menu {
		z-index: 1100;
	}

	#mask {
		z-index: 2000;
	}

	.loading-image {
		position: absolute;
		opacity: 0.3;
		background-color: var(--white);
		top: calc(50% - 96px);
		left: calc(50% - 96px);
		z-index: 240;
	}

	.dropdown-menu {
		z-index: 1000;
	}

	.modal .dropdown-menu {
		z-index: 1100;
	}

	#mask {
		z-index: 1200;
	}

	/********************************************************************************
								table ( table-wrap-type )
	*********************************************************************************/
	.table-wrap-type.collect-wrap {
		overflow-y: auto;
	}

	.spc-table-row {
		overflow-y: auto;
	}

	.spc-table-row::-webkit-scrollbar-track {
		border-radius: 2px;
		background-color: var(--scroll-track);
	}

	.spc-table-row::-webkit-scrollbar {
		height: 8px;
		border-radius: 2px;
		background-color: var(--scroll-track);
	}

	.spc-table-row::-webkit-scrollbar-corner {
		background-color: var(--scroll-track);
	}

	.spc-table-row::-webkit-scrollbar-thumb {
		border-radius: 2px;
		background-color: var(--white60);
	}

	footer {
		padding: 25px 20px 20px;
	}

	footer .copyright:nth-child(2) {
		margin: 10px 0 25px;
	}

	/********************************************************************************
										chart-pv
	*********************************************************************************/
	.indiv.chart-pv .chart-top {
		width: calc(100% - 160px);
	}

	.chart-pv .chart-top .duration,
	.chart-pv-table {
		display: none;
	}

	.chart-pv .chart-top .sel-calendar {
		margin-left: 0;
	}

	.chart-pv .chart-top .sel-calendar button {
		display: inline-block;
	}

	/* *************************************************
					sMain: local-info, weather
	************************************************* */
	.local-info h2 {
		font-size: 22px;
	}

	.local-info div ul:first-child {
		padding-right: 12px;
	}

	.local-info div ul:last-child {
		padding-left: 12px;
	}

	.local-info div ul li {
		padding-top: 15px;
	}

	.local-info div ul li strong {
		font-size: 13px;
	}

	.local-info div ul li span {
		font-size: 14px;
	}

	.local-info div ul li em {
		font-size: 11px;
		font-weight: normal;
	}

	.local-info table th {
		font-size: 13px;
	}

	.local-info table td {
		font-size: 13px;
	}

	.local-info table th,
	.local-info table td {
		height: 40px;
		line-height: 2.5;
		padding: 5px;
	}

	.local-info.smain-center td {
		font-size: 13px;
	}

	.local-info.smain-center td span {
		font-size: 14px;
	}

	.type-list-detail .local-info th {
		line-height: 1.3;
	}

	.type-list-detail .local-info td {
		padding: 5px 2px;
	}

	.chart-top .ntit + .alert-icon {
		margin-top: 0;
	}

	.weather-table,
	.wt-list-wrap {
		width: 100%;
	}

	.weather-wrap .weather-table {
		margin-right: 0;
	}

	.weather-wrap .wt-list-wrap {
		margin-left: 0;
	}

	/* *************************************************
							dashboard
	************************************************* */

	.gmain-row1 {
		display: block;
		margin-bottom: 12px;
	}

	.gmain-row1 .indiv.gmain-chart4 {
		margin-right: 0;
	}

	.gmain-row1 .indiv.gmain-chart4 + .gmain-alarm {
		margin-left: 0;
	}

	.indiv.gmain-chart4,
	.indiv.gmain-alarm {
		margin: auto 0 20px;
	}

	.gmain-table.smain {
		height: auto;
		max-height: inherit;
	}

	.gmain-table.smain .chart-top h2.ntit {
		font-size: 14px;
		margin: 3px 0 10px;
	}

	.gmain-table.smain .local-info table td {
		padding: 0;
		height: 25px;
		line-height: 25px;
	}

	.gmain-table.smain .gmain-wrap {
		margin-top: 5px;
		height: calc(100vh - 285px);
	}

	.indiv.gmain-alarm .alarm-status > div span,
	.indiv.jmain-alarm .alarm-status > div span {
		padding: 8px 10px;
		font-size: 12px;
	}

	.indiv.gmain-alarm .alarm-status > div em,
	.indiv.jmain-alarm .alarm-status > div em {
		font-size: 16px;
		line-height: 30px;
		margin-top: 0;
	}

	.indiv.gmain-alarm .alarm-status > div.alarm-warning a,
	.indiv.jmain-alarm .alarm-status > div.alarm-warning a {
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}

	.indiv.gmain-alarm,
	.indiv.jmain-alarm {
		min-height: initial;
	}

	.gmain-table {
		min-height: initial;
	}

	.gmain-table .term_menu > ul {
		float: none;
		text-align: center;
	}

	.gmain-table .term_menu > ol {
		float: none;
		margin-top: 10px;
		text-align: center;
	}

	.gmain-table .gmain-wrap table td a {
		font-size: 12px;
	}

	.gmain-table .gmain-wrap table tbody td .equip-icon span {
		height: 14px;
		width: 14px;
		background-size: 90%;
	}

	.gmain-table .gmain-wrap table tbody td .equip-icon span + span {
		margin-left: 0px;
	}

	.table-top .fl .check-option {
		display: block;
		margin-top: 15px;
	}

	.gmain_group {
		min-height: initial;
	}

	/* *************************************************
						smain
	************************************************* */
	.smain-pv ul li {
		line-height: 1.5;
		font-size: 14px;
	}

	.smain-pv ul li > div {
		padding-left: 10px;
	}

	.smain-pv ul li > div:last-child {
		font-size: 13px;
	}

	.smain-pv ul li strong {
		margin-right: 10px;
	}

	.smain-pv ul li span {
		font-size: 16px;
	}

	.smain-pv ul li em {
		font-size: 12px;
	}

	.smain-cal {
		min-height: auto;
	}

	.smain-cal .calendar tr td {
		padding: 5px;
	}

	.smain-cal .calendar tr td div {
		/* margin-top: 15px; */
		display: block;
		position: relative;
		top: inherit;
		right: inherit;
	}

	.smain-cal .calendar tr td div strong {
		font-size: 12px;
	}

	.smain-cal .calendar tr td span {
		/* margin-top: 15px; */
		margin-top: 0;
		display: block;
		position: relative;
		bottom: inherit;
		right: inherit;
		text-align: center;
	}

	.smain-cal .calendar tr td span strong {
		display: block;
		font-size: 12px;
	}

	.smain.weather .weather-wrap .fl {
		float: none;
		display: block;
		width: auto;
	}

	.smain.weather .weather-wrap .fl table {
		width: 100%;
	}

	.smain.weather .weather-wrap .fl dl dd table th,
	.smain.weather .weather-wrap .fl dl dd table td {
		padding: 5px 5px;
		text-align: center;
	}

	.smain.weather .weather-wrap .fr {
		float: none;
		display: block;
		width: auto;
	}

	.smain.weather .weather-wrap .fr table {
		width: 100%;
	}

	/* *************************************************
						Setting
	************************************************* */
	.group-modal-content .col-sm-12:nth-child(even) {
		padding: 0 12px 0;
		margin-top: -12px;
	}

	.group-modal-content .pl-40,
	.group-modal-content .share-label {
		padding-left: 12px;
	}
	.modal-dialog:not(.no-flex):not(.calendar-modal),
	.site-modal-content {
		width: auto;
		margin: 5%;
	}

	.no-flex .setting-form .input-label.asterisk:after {
		margin: -.5% 0 0 1%;
	}
	.modal-content .switch-slide {
		margin-left: 0;
	}
}

@media all and (max-width: 575px) {
	.site-modal-content .row .pl-0 {
		padding: 0 12px 12px;
		margin-top: -12px;
	}

	.site-modal-content .unit {
		top: 10px;
	}

	.gmain-table .gmain-wrap {
		max-height: 305px;
	}
}

@media all and (max-width: 487px) {
	.gmain-wrap .intable,
	.device-table {
		max-height: 400px;
	}

	.indiv.chart-diagnosis .inline-flex {
		flex-wrap: wrap;
	}

	.indiv.chart-diagnosis .chart-top {
		width: calc(100% - 60px);
		margin-left: -14px;
	}

	.indiv.chart-diagnosis .chart-top span:not(.caret) {
		width: 45px;
	}

	.indiv.chart-diagnosis .chart-top .btn-type {
		margin-left: 62px;
	}
}

/* print preview bcg */

@media print {
	.totaldprint .lbody table.tbl th {
		background-color: #eaeaea;
		-webkit-print-color-adjust: exact;
	}

	.dprint .lbody table.tbl th {
		background-color: #eaeaea;
		-webkit-print-color-adjust: exact;
	}
}
