#smainV2Content,
.smainV2-block {
	display: flex;
}

/* 간격 조정 */
.smainV2-section > div:not(:last-child) {
	margin-bottom: 24px;
}

.smainV2-block > div:not(:last-child) {
	margin-right: 24px;
}

/* 사이즈 */
.smainV2-block-s { height: 112px; }
.smainV2-block-m { height: 260px; }
.smainV2-block-l { height: 464px; }
.smainV2-block-xl { height: 748px; }


.smainV2-block .value-unit {
	margin-top: 8px;
}

.smainV2-alarm {
	position: relative;
	padding: 0!important;
}

#smainV2-1-2 > div:first-of-type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 24px 0;
}

#smainV2-1-2 > div:first-of-type > div {
	width: calc(33.33% - 9px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	border-radius: 4px;
	white-space: nowrap;
	border: 1px solid rgba(255, 255, 255, 0.25);
}

#smainV2-1-2 > div:first-of-type > div.actived {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

#smainV2-1-2 > div:first-of-type > div > p {
	color: var(--white87);
	font-size: 14px;
}

#smainV2-1-2 > div:first-of-type > div > span {
	width: 44px;
	color: var(--black20);
	box-shadow: -1px 0 1px 0 var(--black20), 0 1px 1px 0 var(--black20);
}

#smainV2-1-2 > div:last-of-type > ul {
	padding: 12px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
}

#smainV2-1-2 > div:last-of-type > ul:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

#smainV2-1-2 > div:last-of-type > ul > li:first-child {
	color: var(--white60);
}

#smainV2-1-2 > div:last-of-type > ul > li:last-child {
	color: var(--white87);
}


#smainV2-status {
	display: flex;
	align-items: center;
	margin-top: 82px;
}

.smainV2-status-block {
	width: 100%;
	padding: 12px 14px 12px 16px;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
	border: solid 1px rgba(255, 255, 255, 0.25);
	background-color: rgba(255, 255, 255, 0.25);
	color: var(--white87);
}

.smainV2-status-block > ul {
	padding: 14px 2px 14px 0;
	border-radius: 4px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.smainV2-status-block > ul > li:first-child {
	display: flex;
	align-items: center;
}

.smainV2-status-block > ul > li:first-child > img {
	margin-right: 12px;
}

.smainV2-status-left {
	margin-top: -112px;
}

.smainV2-status-left .subtitle {
	line-height: 20px;
	margin-bottom: 8px;
}

.smainV2-status-left > div {
	display: flex; 
	align-items: center;
}

.smainV2-status-left .smainV2-status-block {
	width: 189px;
}

.smainV2-status-right {
	width: 236px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.smainV2-status-right > .smainV2-status-block:nth-of-type(2) > ul > li {
	display: flex;
	align-items: center;
	padding: 14px 119px 14px 0;
	font-size: 14px;
	color: var(--white87);
}

.smainV2-status-right > .smainV2-status-block:nth-of-type(2) > ul > li > img {
	margin-right: 12px;
}

.smainV2-status-right > .smainV2-status-block > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 36px;
}

.smainV2-status-right > .smainV2-status-block > div > ul {
	padding: 12px 0;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.smainV2-status-right > .smainV2-status-block > div > ul > li:first-child {
	color: var(--white60);
}

.smainV2-status-right > .smainV2-status-block > div > ul > li:last-child {
	color: var(--white87);
}

.smainV2-status-right > .smainV2-status-block > div > ul:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}


.smainV2-status-left .arrow {
	margin: 0 24px;
	display: flex;
	align-items: center;
}

.smainV2-status-left .arrow > div:nth-child(1),
.smainV2-status-left .arrow > div:nth-child(2) {
	width: 6px;
	height: 24px;
}

.smainV2-status-left .arrow > div:nth-child(2) {
	margin: 0 8px;
	background: var(--sky-blue);
}

.smainV2-status-left .arrow > div:nth-child(1) { background: #bcdfff; }

.smainV2-status-left .arrow > div:nth-child(3) {
	width: 11px;
	height: 0px;
	border-top: 12px solid transparent;
	border-left: 11px solid #267ccc;
	border-right: none;
	border-bottom: 12px solid transparent;
}

.smainV2-status-right .arrow {
	margin: 24px 0;
}

.smainV2-status-right .arrow > div:nth-child(2),
.smainV2-status-right .arrow > div:nth-child(3) {
	width: 24px;
	height: 6px;
}

.smainV2-status-right .arrow > div:nth-child(2) {
	margin: 8px 0;
	background: var(--sky-blue);
}

.smainV2-status-right .arrow > div:nth-child(3) { background: #bcdfff; }

.smainV2-status-right .arrow > div:nth-child(1) {
	width: 0px;
	height: 11px;
	border-top: none;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 11px solid #267ccc;
}

.smainV2-status-right > .arrow:nth-of-type(4) {
	transform: rotate(180deg);
}

.small-text {
	font-size: 9px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.smainV2-month-list {
	margin: 26px 0;
	display: flex;
	align-items: center;
}

.smainV2-month-list > ul {
	min-width: 120px;
	padding: 4px 26px 4px 0;
	margin-right: 16px;
}

.smainV2-month-list > ul > li:first-child {
	color: var(--white60);
	font-size: 14px;
	margin-bottom: 8px;
}

.smainV2-month-list > ul > li:last-child {
	font-size: 13px;
	color: var(--white60);
	display: flex;
	align-items: flex-end;
}

.smainV2-month-list > ul > li:last-child > span {
	font-size: 24px;
	margin-right: 6px;
	color: var(--white87);
}