/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#dt/dt-1.10.21
 *
 * Included libraries:
 *   DataTables 1.10.21
 */


html.darkmode:root {
	--ico-prev: url("/img/btn-prev-active.svg");
	--ico-sort-up: url("/img/sorting_up.png");
	--ico-sort-down: url("/img/sorting_down.png");
}

.dataTable {
	width: 100%;
	margin: 0 auto;
	clear: both;
	border-collapse: separate;
	border-spacing: 0;
}

.dataTable thead th {
	font-size: 13px;
	font-weight: 500;
}

.dataTables_scroll {
    overflow:auto;
}

.dataTables_wrapper.fixed-width .dataTables_scrollHeadInner,
.dataTables_wrapper.fixed-width .dataTables_scrollHeadInner > .dataTable.no-stripe {
	width: 100% !important;
}

.dataTables_scrollHeadInner > .dataTable th.idx.no-sorting {
	width: 50px;
}

.dataTables_scrollBody > .dataTable thead th,
.dataTables_scrollBody > .dataTable thead td {
	display: none;
}

.dataTable.no-footer.no-stripe thead th:first-of-type {
	padding-left: 28px;
}

.dataTable.no-footer.no-stripe tbody tr td:first-of-type,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table.no-stripe>tbody>tr>td:first-of-type {
	/* padding: 14px 10px 14px 28px; */
	/* padding-left: 28px; */
}

.dataTable.no-footer.no-stripe thead th:last-of-type {
	padding-right: 28px;
}

.dataTable.no-footer.no-stripe tbody tr td:last-of-type,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table.no-stripe>tbody>tr>td:last-of-type {
	/* padding: 14px 10px 14px 28px; */
	/* padding-right: 28px; */
}

.dataTable.no-footer.no-stripe thead {
	width: 100%;
}

.dataTable.no-footer.no-stripe thead th,
.dataTables_scrollHeadInner > .dataTable th,
.dataTables_scrollHeadInner > .dataTable td {
	background: var(--box-darker);
	height: auto;
	padding: 18px 10px;
	font-size: 13px;
	white-space: nowrap;
}

.dataTable tbody th,
.dataTable tbody td {
	height: auto;
	padding: 14px 10px;
	font-size: 13px;
	white-space: nowrap;
}

.dataTable thead th:active,
.dataTable thead td:active {
	outline: none;
}

.dataTable tfoot th {
	font-size: 13px;
	font-weight: bold;
}

.dataTable tfoot th,
.dataTable tfoot td {
	padding: 10px 18px 6px 18px;
	border-top: 1px solid var(--white40);
}

.dataTable thead .sorting {
	cursor: pointer;
}

.dataTable thead .no-sorting {
	cursor: default;
}

.dataTable thead .sorting_asc:not(.no-sorting):after {
	display: inline-block;
	margin-left: 6px;
	padding: 0 0 0 20px;
	width: 16px;
	height: 16px;
	background: var(--ico-sort-up) no-repeat 0 1px;
	content: "";
}

.dataTable thead .sorting_desc:not(.no-sorting):after {
	display: inline-block;
	margin-left: 6px;
	padding: 0 0 0 20px;
	width: 16px;
	height: 16px;
	background: var(--ico-sort-down) no-repeat 0 1px;
	content: "";
}
.dataTable.row-border tbody tr:first-child th,
.dataTable.row-border tbody tr:first-child td,
.dataTable.display tbody tr:first-child th,
.dataTable.display tbody tr:first-child td {
	border-top: none;
}

.dataTable.cell-border tbody tr:first-child th,
.dataTable.cell-border tbody tr:first-child td {
	border-top: none;
}

.dataTable tbody tr.details.selected + tr td {
	border: 1px 0 1px 0 solid var(--bg-color2);
}

.dataTable tbody tr.selected td,
.dataTable tbody td.selected {
	background: var(--vivid-blue) !important;
}

.dataTable:not(.no-stripe) tbody tr.even td {
	background: var(--box-darker);
	font-weight: normal;
}

.dataTable tbody tr.selected td,
.dataTable tbody td.selected {
	color: var(--white);
}

.dataTable tbody td,
.dataTable.display tbody td {
	color: var(--white60);
}

.dataTable.nowrap th,
.dataTable.nowrap td {
	white-space: nowrap;
}

.dataTable.compact thead th,
.dataTable.compact thead td {
	padding: 4px 17px;
}

.dataTable.compact tfoot th,
.dataTable.compact tfoot td {
	padding: 4px;
}

.dataTable.compact tbody th,
.dataTable.compact tbody td {
	padding: 4px;
}

.dataTable th.dt-left,
.dataTable td.dt-left {
	text-align: left;
}

.dataTable th.dt-center,
.dataTable td.dt-center,
.dataTable td.dataTables_empty {
	text-align: center;
}

.dataTable th.dt-right,
.dataTable td.dt-right {
	text-align: right;
}

.dataTable th.dt-justify,
.dataTable td.dt-justify {
	text-align: justify;
}

.dataTable th.dt-nowrap,
.dataTable td.dt-nowrap {
	white-space: nowrap;
}

.dataTable thead th.dt-head-left,
.dataTable thead td.dt-head-left,
.dataTable tfoot th.dt-head-left,
.dataTable tfoot td.dt-head-left {
	text-align: left;
}

.dataTable thead th.dt-head-center,
.dataTable thead td.dt-head-center,
.dataTable tfoot th.dt-head-center,
.dataTable tfoot td.dt-head-center {
	text-align: center;
}

.dataTable thead th.dt-head-right,
.dataTable thead td.dt-head-right,
.dataTable tfoot th.dt-head-right,
.dataTable tfoot td.dt-head-right {
	text-align: right;
}

.dataTable thead th.dt-head-justify,
.dataTable thead td.dt-head-justify,
.dataTable tfoot th.dt-head-justify,
.dataTable tfoot td.dt-head-justify {
	text-align: justify;
}

.dataTable thead th.dt-head-nowrap,
.dataTable thead td.dt-head-nowrap,
.dataTable tfoot th.dt-head-nowrap,
.dataTable tfoot td.dt-head-nowrap {
	white-space: nowrap;
}

.dataTable tbody th.dt-body-left,
.dataTable tbody td.dt-body-left {
	text-align: left;
}


.dataTable tbody th.dt-body-center,
.dataTable tbody td.dt-body-center {
	text-align: center;
}

.dataTable tbody th.dt-body-right,
.dataTable tbody td.dt-body-right {
	text-align: right;
}

.dataTable tbody th.dt-body-justify,
.dataTable tbody td.dt-body-justify {
	text-align: justify;
}

.dataTable tbody th.dt-body-nowrap,
.dataTable tbody td.dt-body-nowrap {
	white-space: nowrap;
}

/* Control feature layout */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	zoom: 1;
}

.dataTable td .text-link {
	margin: -3px 0 0 0;
}

.dataTable td button.text-link {
	display: flex;
	align-self: end;
	color: var(--white87);
	background: none;
	border: 1px solid var(--white87);
	border-radius: 2px;
	text-decoration: none;
	margin: 0 5px 0 16px;
}

.dataTable .popover-content {
	overflow: auto;
	width: 180px;
	height: 150px;
}

.dataTables_wrapper label {
	color: var(--white60);
}

.dataTables_wrapper select {
	margin: 0 10px 20px 8px;
	padding: 5px 10px;
	height: 32px;
	border: 1px solid var(--white40);
}

.dataTables_wrapper select option {
	background: none;
}


.dataTables_wrapper .dataTables_filter {
	float: left;
	text-align: right;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_length > * {
	/* float: left; */
	/* display: none; */
}

.dataTables_wrapper .dataTables_filter label {
	/* display: none; */
}

.dataTables_wrapper .dataTables_filter input {
	margin-right: 0.5em;
	background: var(--white20);
	padding: 0 12px;
	height: 36px;

	color: var(--white87);
	border: 0;
	border-radius: 2px;
	outline: none;
}

.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: 25px;
}

.dataTables_wrapper .dataTables_paginate {
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translate(50%, 15%);
	text-align: center;
	padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	display: inline-block;
	min-width: 40px;
	line-height: 12px;
	height: 12px;
	vertical-align: top;
	box-sizing: border-box;
	border: 0;
	border-radius: 2px;
	text-align: center;
	text-decoration: none !important;
	color: var(--white60);
	cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	opacity: 1;
	color: var(--white87);
	border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	cursor: default;
	border: 0;
	/* background: transparent; */
	box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
	color: var(--white60);
	background: var(--ico-prev) no-repeat center center;
	background-size: 18px;
	opacity: 0.6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
	position: absolute;
	background: var(--ico-prev) no-repeat center center;
	background-size: 18px;
	transform: rotate(360deg) scaleX(-1);
	opacity: 0.6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	outline: none;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
	padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 40px;
	margin-left: -50%;
	margin-top: -25px;
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
	color: var(--white60);
	font-size: 13px;
}

.dataTables_wrapper .dataTables_scroll {
	margin-bottom: 12px;
	clear: both;
	overflow: auto;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody::-webkit-scrollbar,
.dataTables_wrapper .dataTables.no-stripe::-webkit-scrollbar {
	border-radius: 2px;
	background-color: var(--scroll-track);
	width: 6px;
	height: 6px;
}

.dataTables_scrollBody > table > thead > tr {
    /* visibility: collapse;
    height: 0px !important; */
}


.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,
.dataTables_wrapper:not(.fixed-width) .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
	vertical-align: middle;
	font-size: 13px;
	font-weight: 500;
	white-space: nowrap;
}

.dataTables_wrapper.fixed-width div.dataTables_scrollBody>table>tbody>tr>td {
	vertical-align: top;
}


.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing {
	height: 0;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead .dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody>table {
	border-bottom: none;
}

.dataTables_wrapper:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}


/* FIXED HEADER */

.dataTable.fixedHeader-floating {
	position: fixed !important;
	box-shadow: var(--box-shadow);
}

.dataTable.fixedHeader-floating thead th {
	background: var(--emperor);
}

.dataTable.fixedHeader-floating.no-footer {
	border-bottom-width: 0;
}

.dataTable.fixedHeader-locked {
	position: absolute !important;
}

@media print {
	.dataTable.fixedHeader-floating {
		display: none;
	}
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
	margin-left: 0.5em;
}

@media screen and (max-width: 640px) {

	div.dataTables_wrapper span.select-info,
	div.dataTables_wrapper span.select-item {
		margin-left: 0;
		display: block;
	}
}


/* BUTTONS */
@keyframes dtb-spinner {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes dtb-spinner {
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes dtb-spinner {
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes dtb-spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes dtb-spinner {
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

div.dt-button-info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-top: -100px;
	margin-left: -200px;
	background: none;
	border: 2px solid #111;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	text-align: center;
	z-index: 21;
}

div.dt-button-info h2 {
	padding: 0.5em;
	margin: 0;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	background: none;
}

div.dt-button-info>div {
	padding: 1em;
}

div.dt-button-collection-title {
	text-align: center;
	padding: 0.3em 0 0.5em;
	font-size: 13px;
}

div.dt-button-collection-title:empty {
	display: none;
}

.dt-button+.dt-button {
	margin-left: 8px;
}

button.dt-button.disabled,
div.dt-button.disabled,
a.dt-button.disabled {
	color: var(--white60);
}

button.dt-button:active:not(.disabled):hover:not(.disabled),
button.dt-button.active:not(.disabled):hover:not(.disabled),
div.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button.active:not(.disabled):hover:not(.disabled),
a.dt-button:active:not(.disabled):hover:not(.disabled),
a.dt-button.active:not(.disabled):hover:not(.disabled) {
	box-shadow: inset 1px 1px 3px #999999;
	background: none;
}

button.dt-button:hover,
div.dt-button:hover,
a.dt-button:hover {
	text-decoration: none;
}

button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled) {
	outline: none;
}

.dt-button embed {
	outline: none;
}

.inline.dt-buttons.button-group {
	display: inline-block;
	width: auto;
}

div.dt-buttons {
	position: relative;
	width: 100%;
	margin-bottom: 16px;
}

div.dt-buttons.buttons-right {
	float: right;
}

div.dataTables_layout_cell div.dt-buttons {
	float: none;
}

div.dataTables_layout_cell div.dt-buttons.buttons-right {
	float: none;
}

div.dt-button-collection {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	margin-top: 3px;
	padding: 8px 8px 4px 8px;
	background: none;
	overflow: hidden;
	z-index: 25;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}

div.dt-button-collection button.dt-button,
div.dt-button-collection div.dt-button,
div.dt-button-collection a.dt-button {
	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
	float: none;
}

div.dt-button-collection.fixed {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -75px;
}

div.dt-button-collection.fixed.two-column {
	margin-left: -200px;
}

div.dt-button-collection.fixed.three-column {
	margin-left: -225px;
}

div.dt-button-collection.fixed.four-column {
	margin-left: -300px;
}

div.dt-button-collection> :last-child {
	display: block !important;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	-ms-column-gap: 8px;
	-o-column-gap: 8px;
	column-gap: 8px;
}

div.dt-button-collection> :last-child>* {
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

div.dt-button-collection.two-column {
	width: 400px;
}

div.dt-button-collection.two-column> :last-child {
	padding-bottom: 1px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
}

div.dt-button-collection.three-column {
	width: 450px;
}

div.dt-button-collection.three-column> :last-child {
	padding-bottom: 1px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	-ms-column-count: 3;
	-o-column-count: 3;
	column-count: 3;
}

div.dt-button-collection.four-column {
	width: 600px;
}

div.dt-button-collection.four-column> :last-child {
	padding-bottom: 1px;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	-ms-column-count: 4;
	-o-column-count: 4;
	column-count: 4;
}

div.dt-button-collection .dt-button {
	border-radius: 0;
}

div.dt-button-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 25;
}

@media screen and (max-width: 640px) {
	div.dt-buttons {
		float: none !important;
		text-align: center;
	}
}


.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
.dataTable.dtr-inline.collapsed>tbody>tr>th.child,
.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
	cursor: default !important;
}

.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,
.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,
.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before {
	display: none !important;
}

.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control,
.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before,
.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {
	top: 50%;
	left: 5px;
	height: 14px;
	width: 14px;
	margin-top: -9px;
	display: block;
	position: absolute;
	border-radius: 14px;
	box-shadow: 0 0 3px #444;
	box-sizing: content-box;
	text-align: center;
	text-indent: 0 !important;
	font-family: 'Courier New', Courier, monospace;
	line-height: 14px;
	content: '+';
}

.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
	content: '-';
}

.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control,
.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control {
	padding-left: 27px;
}

.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control:before,
.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control:before {
	left: 4px;
	height: 14px;
	width: 14px;
	border-radius: 14px;
	line-height: 14px;
	text-indent: 3px;
}

.dataTable.dtr-column>tbody>tr>td.control,
.dataTable.dtr-column>tbody>tr>th.control {
	position: relative;
	cursor: pointer;
}

.dataTable.dtr-column>tbody>tr>td.control:before,
.dataTable.dtr-column>tbody>tr>th.control:before {
	top: 50%;
	left: 50%;
	height: 16px;
	width: 16px;
	margin-top: -10px;
	margin-left: -10px;
	display: block;
	position: absolute;
	border-radius: 14px;
	box-shadow: 0 0 3px #444;
	box-sizing: content-box;
	text-align: center;
	text-indent: 0 !important;
	font-family: 'Courier New', Courier, monospace;
	line-height: 14px;
	content: '+';
}

.dataTable.dtr-column>tbody>tr.parent td.control:before,
.dataTable.dtr-column>tbody>tr.parent th.control:before {
	content: '-';
}

.dataTable>tbody>tr.child {
	padding: 0.5em 1em;
}

.dataTable>tbody>tr.child:hover {
	background: transparent !important;
}

.dataTable>tbody>tr.child ul.dtr-details {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dataTable>tbody>tr.child ul.dtr-details>li {
	padding: 0.5em 0;
}

.dataTable>tbody>tr.child ul.dtr-details>li:first-child {
	padding-top: 0;
}

.dataTable>tbody>tr.child ul.dtr-details>li:last-child {
	border-bottom: none;
}

.dataTable>tbody>tr.child span.dtr-title {
	display: inline-block;
	min-width: 75px;
	font-weight: bold;
}

div.dtr-modal {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	padding: 10em 1em;
}

div.dtr-modal div.dtr-modal-display {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	z-index: 102;
	overflow: auto;
	border-radius: 0.5em;
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

div.dtr-modal div.dtr-modal-content {
	position: relative;
	padding: 1em;
}

div.dtr-modal div.dtr-modal-close {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 22px;
	height: 22px;
	border: 1px solid #eaeaea;
	background-color: #f9f9f9;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	z-index: 12;
}

div.dtr-modal div.dtr-modal-close:hover {
}

div.dtr-modal div.dtr-modal-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 767px) {
	div.dtr-modal div.dtr-modal-display {
		width: 95%;
	}
}