<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- <properties resource="config/jdbc.properties" /> -->
  <settings>
    <setting name="cacheEnabled" value="true" />
    <setting name="useGeneratedKeys" value="true" />
    <setting name="defaultExecutorType" value="REUSE" />
    <setting name="defaultStatementTimeout" value="3000" />
    <setting name="defaultExecutorType" value="BATCH" />
  </settings>
  <typeAliases>
    <package name="kr.co.ewp.api.entity" />
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/mapper/alarm.xml" />
    <mapper resource="mybatis/mapper/bill.xml" />
    <mapper resource="mybatis/mapper/chargePower.xml" />
    <mapper resource="mybatis/mapper/device.xml" />
    <mapper resource="mybatis/mapper/deviceBms.xml" />
    <mapper resource="mybatis/mapper/deviceGroup.xml" />
    <mapper resource="mybatis/mapper/deviceIoe.xml" />
    <mapper resource="mybatis/mapper/devicePcs.xml" />
    <mapper resource="mybatis/mapper/devicePv.xml" />
    <mapper resource="mybatis/mapper/drResult.xml" />
    <mapper resource="mybatis/mapper/drRevenue.xml" />
    <mapper resource="mybatis/mapper/essCharge.xml" />
    <mapper resource="mybatis/mapper/essChargePlan.xml" />
    <mapper resource="mybatis/mapper/essUsage.xml" />
    <mapper resource="mybatis/mapper/faq.xml" />
    <mapper resource="mybatis/mapper/genRevenue.xml" />
    <mapper resource="mybatis/mapper/peak.xml" />
    <mapper resource="mybatis/mapper/predictPeak.xml" />
    <mapper resource="mybatis/mapper/predictUsage.xml" />
    <mapper resource="mybatis/mapper/pvGen.xml" />
    <mapper resource="mybatis/mapper/pvUsage.xml" />
    <mapper resource="mybatis/mapper/reactive.xml" />
    <mapper resource="mybatis/mapper/site.xml" />
    <mapper resource="mybatis/mapper/siteGroup.xml" />
    <mapper resource="mybatis/mapper/siteSet.xml" />
    <mapper resource="mybatis/mapper/usage.xml" />
    <mapper resource="mybatis/mapper/user.xml" />
  </mappers>

</configuration>
